<!--<div class="editor-con">-->
<!-- -->
<!--</div>-->
<div class="editor-container">
  <div class="editor-content">
    <div *ngIf="!docId" style="margin-top: 100px;text-align: center">
      <span style="margin-left: auto;margin-right: auto">
        {{ 'PAGES.DOCS.SELECT_A_DOC' | translate }}
      </span>
    </div>
    <div *ngIf="docId" class="editor-inte">
      <div class="editor-con">
        <div class="title-bar">
          <input class="title">
        </div>
        <mat-divider></mat-divider>
        <div id="editorjs" class="effd"></div>
      </div>
    </div>
  </div>
</div>
