.body-text-container {
  .content-b{
    width: 100%;
    padding: 8px;

    height: 100%;
    display: flex;
    flex-direction: column;
    .body-tabs {
      height: 32px;
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .left-option {
        display: flex;
        flex-direction: row;
        border-radius: 4px;
        height: 30px;
        background-color: #F2F2F2;

        .selected {
          color: #212121;
          background-color: #E6E6E6;
        }
        .item {
          cursor: pointer;
          color: rgb(107, 107, 107);
          font-weight: 500;
          font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
          font-feature-settings: "calt" 0;
          padding: 8px 16px;
          font-size: 12px;
        }

        .item:hover {
          color: #212121;
        }
      }
      .right-option {
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .opera-container {
          height: 100%;
          display: flex;
          flex-direction: row;

          .icon-con {
            display: flex;
            flex-direction: row;
            flex: 1;
            height: 100%;

            .icon-item:hover{
              border-radius: 4px;
              background-color: rgb(230, 230, 230);
              color: rgb(33, 33, 33);
            }
            .icon-item{
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-right: 10px;
              padding: 10px;
              cursor: pointer;
              .material-symbols-outlined {
                font-variation-settings:
                  'FILL' 0,
                  'wght' 200,
                  'GRAD' -25,
                  'opsz' 20
              }
              .icon {
                width: 16px;
                height: 16px;
              }
            }
          }

          .space {
            width: 15px;
            height: 100%;
          }
        }

        .opera-container-left {
          height: 100%;
          width: 100px;
          margin-left: 16px;

          .ng-select.type-select ::ng-deep .ng-select-container {
            margin-top: 2px;
            min-height: 28px;
            height: 28px;
          }
        }
      }
    }

    .body-text {
      flex: 1;
      align-items: stretch;
      position: relative;
    }
  }

  .no-hor-padding{
    padding-left: 0px;
    padding-right: 0px;
  }
}

.fullScreen {
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}
