.body-text-container {


  .content-b{
    width: 100%;
    padding: 8px;

    height: 100%;
    display: flex;
    flex-direction: column;
    .body-tabs {
      height: 32px;
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .left-option {
        display: flex;
        flex-direction: row;
        border-radius: 4px;
        height: 30px;
        background-color: #F2F2F2;

        .selected {
          color: #212121;
          background-color: #E6E6E6;
        }
        .item {
          cursor: pointer;
          color: rgb(107, 107, 107);
          font-weight: 500;
          font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
          font-feature-settings: "calt" 0;
          padding: 8px 16px;
          font-size: 12px;
        }

        .item:hover {
          color: #212121;
        }
      }
      .right-option {
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .opera-container {
          background-color: cadetblue;
          height: 100%;
          width: 100px;
        }

        .opera-container-left {
          height: 100%;
          width: 100px;
          margin-left: 16px;

          .ng-select.type-select ::ng-deep .ng-select-container {
            margin-top: 2px;
            min-height: 28px;
            height: 28px;
          }
        }
      }
    }

    .body-text {
      flex: 1;
      align-items: stretch;
      position: relative;
    }
  }
}
