<div class="doc-detail-container">
  <div class="doc-menu-tree">
    <div class="top-bar">
      <div class="btn-gro">
        <button
          style="line-height: 32px;"
          mat-button
          [disabled]="docId === 1"
          (click)="docTree.addNewArticle()"
        >
          <span>
            {{ 'PAGES.DOCS.ADD_NEW_ARTICLE' | translate }}
          </span>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="menu-content">
      <div class="doc-menu-inte" [perfectScrollbar]>
        <app-doc-menu-tree #docTree [id]="docId"></app-doc-menu-tree>
      </div>
    </div>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="doc-editor">
    <div *ngIf="!showing" style="margin-top: 100px;text-align: center">
      <span style="margin-left: auto;margin-right: auto">
        {{ 'PAGES.DOCS.SELECT_A_DOC' | translate }}
      </span>
    </div>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="doc-operation">
    <div class="btn-group">
      <div>
        <a mat-button [routerLink]="['../../d']" target="_self">
          {{ 'MESSAGE.BACK' | translate }}
        </a>
      </div>
      <div style="flex: 1">
      </div>
      <div>
        <button mat-button color="primary">
          {{(isEdit ? 'PAGES.DOCS.SAVE' : 'PAGES.DOCS.EDIT') | translate }}
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
