<div class="doc-detail-container">
  <div class="doc-menu-tree">
    <div class="top-bar">
      <div class="btn-gro-back">
        <a style="height: 32px" mat-flat-button color="primary"  [routerLink]="['../../d']" target="_self">
          {{ 'PAGES.DOCS.BACK' | translate }}
        </a>
      </div>
      <div class="btn-gro">
        <button
          style="line-height: 32px;"
          mat-button
          [disabled]="docId === 1"
          (click)="docTree.addNewArticle()"
        >
          <span>
            {{ 'PAGES.DOCS.ADD_NEW_ARTICLE' | translate }}
          </span>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="menu-content">
      <div class="doc-menu-inte" [perfectScrollbar]>
        <app-doc-menu-tree
          #docTree
          [id]="docId"
          (docSelect)="showing=$event;editor.setDocId($event)"
        ></app-doc-menu-tree>
      </div>
    </div>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="doc-editor">
    <app-doc-editor
      #editor
      (nameChange)="docTree.updateName($event)"
      (status)="isEdit = !$event"
      style="height: 100%;position: relative"
    ></app-doc-editor>
  </div>
  <div class="ab-btn-group">
    <button
      style="margin-right: 10px"
      *ngIf="docId !== 1"
      mat-flat-button color="primary"
      (click)="isEdit ? editor.saveData() : editor.doEdit()"
    >
      {{(isEdit ? 'PAGES.DOCS.SAVE' : 'PAGES.DOCS.EDIT') | translate }}
    </button>
    <button
      style="background-color: #fff"
      mat-stroked-button color="primary">
      {{'OPERATION.LEARN_MORE' | translate}}
    </button>
  </div>
</div>
