@use '@angular/material' as mat;

@include mat.core();
@include mat.strong-focus-indicators();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

.gable-header {
  background: map-get($my-primary, 400);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;



  .gable-logo-text {
    text-transform: uppercase;
    color: whitesmoke;
    font-family: Inter, sans-serif;
    font-variant-ligatures: common-ligatures;
    font-size: 12px;
    font-weight: 700;
    margin-right: 24px;
  }

  .header-link:hover {
    background: rgba(0,0,0,.4);
  }

  .active-link {
    background: rgba(0, 0, 0, .2);
  }

  .flex-spacer {
    flex-grow: 1;
  }

  .header-link {
    color: whitesmoke;

    .mat-button-focus-overlay {
      background: black;
    }

    .mat-button-focus-overlay {
      opacity: 0;
      transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1),background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
    }
  }

}
