.doc-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;

  .top-btn-group{
    height: 50px;
  }

  .con {
    flex: 1;
    flex-direction: row;
    width: 100%;
    display: flex;

    .editor-con {
      flex: 1;
      border: solid 1px #ddd;
      height: 100%;

    }

    .json-shower {
      width: 300px;
      border: solid 1px #ddd;
      height: 100%;
    }
  }
}
