.body-content{
  flex: 1;
  padding: 8px;
}
.radio-c {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;

  .beautify-btn:hover{
    opacity: .8;
  }

  .beautify-btn {
    line-height: 30px;
    color: #0265D2;
    font-weight: 550;
    cursor: pointer;
  }

  .ophub {
    flex: 1;
    justify-content: space-between;
    .body-type {
      margin-left: 10px;
      width: 100px;
      position: relative;
      padding-top: 1px;

      .ng-select.custom ::ng-deep .ng-select-container {
        min-height: 28px;
        height: 28px;
      }
    }

    .icon-req {
      width: 16px;
      height: 16px;
      margin-top: 7px;
      cursor: pointer;

      svg {
        fill: none;
      }
    }
  }
  .radio-item {
    display: inline-block;
    height: 100%;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
  }

  .radio-text {
    height: 30px;
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    /* don't know why the loss 3px height */
    top: -3px;
    position: relative;
  }
  .radio-input {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 100%;
  }

  .radio-item:hover {
    opacity: .8;
    color: grey;
  }

  .no-hor-padding{
    padding-left: 0px;
    padding-right: 0px;
  }
}
.fullScreen {
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}
