.i18n-doc-container {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  .i18n-doc-opera-bar {
    width: 100%;
    height: 38px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #bbb;
    margin-bottom: 10px;

    .left-select {
      flex: 1;
      height: 100%;
    }
    .i18n-doc-btn {
      width: 80px;
      height: 100%;
      text-align: center;
      margin-top: 4px;
    }
  }

  .i18n-t-doc-content {
    width: 100%;

    h3 {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}
