.nav {
  display: flex;
  min-height: 49px;
  flex-direction: row;

  .na-item {
    display: flex;
    flex-direction: row;

    .nat-content-space{
      width: 30px;
    }
    .nav-content{
      flex: 1;

      .nav-tag {
        font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-feature-settings: "calt" 0;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        margin-right: 3px;
      }
      .GET {
        color: rgb(12, 187, 82);
      }

      .POST {
        color: rgb(255, 180, 0);
      }

      .PUT {
        color: rgb(9, 123, 237);
      }

      .DELETE {
        color: rgb(235, 32, 19);
      }
    }

    .nav-item-icon-box:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    .nav-item-icon-box {
      margin-left: 8px;
      width: 20px;
      height: 20px;
      color: #000;

      .nav-item-icon {
        margin-top: 7px;
        width: 16px;
        font-size: 12px;
        height: 16px;
      }
    }
  }
  .nav-border-right {
    border-right-color: rgb(57, 57, 57);
    border-right-style: solid;
    border-right-width: 1px;
    border-image-slice: 1;
    border-image-source: linear-gradient(rgb(255, 255, 255) 25%, rgb(207, 207, 207) 0px, rgb(207, 207, 207) 75%, rgb(255, 255, 255) 0px);
  }


  .tabs{
    flex: 1;
    border-bottom: none;
  }

  .opera {
    width: 40px;

    .btn{
      margin-top: 4px;
    }
  }
}
.context-menu {
  width: auto;
  height: auto;
  display: inline;
}
