<div class="api-container">
  <div class="left">
    <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
      <p class="loading">
        {{ 'PAGES.API_TEST.TREE_MENU.LOAD_MENU' | translate }}
      </p>
    </ngx-spinner>
    <app-api-tree-menu (ready)="onMenuReady($event)"></app-api-tree-menu>
  </div>
  <div class="right">
    <perfect-scrollbar style="width: 100%;height: 100%">
      <div style="height: 1600px;width: 3000px;background-color: pink;">Scrollable content</div>
    </perfect-scrollbar>

    <div style="width: 600px;height: 600px;background-color: pink;position: absolute;top: 150px;right: 150px">

    </div>
  </div>
</div>
