<div class="api-container">
  <div class="left">
    <ngx-spinner
      [fullScreen]="false"
      type="ball-clip-rotate-multiple"
      size="medium"
    >
      <p class="loading">
        {{ 'PAGES.API_TEST.TREE_MENU.LOAD_MENU' | translate }}
      </p>
    </ngx-spinner>
    <app-api-tree-menu
      (ready)="onMenuReady($event)"
    >
    </app-api-tree-menu>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="right">
    <app-api-nav></app-api-nav>
    <mat-divider></mat-divider>
    <div class="main-test">
      <app-test-dashboard #dashboardComponent></app-test-dashboard>
    </div>
  </div>
</div>
